  body {
    margin: 0;
    padding: 0;
  }

  .headerBackground {
    background-color:coral;
  }

  header {
    font-size: 100px;
    color: white;
    padding: 1%;
  }

/* MENU BAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
  }
  
 li {
    float: left;
  }
  
  li, a {
    color: white;
    display: block;
    font-size: 30px;
    padding: 15px 14px;
    background-color: #1a1a1a;
    text-decoration: none;
    text-align: center;
  }

  li a:hover {
    background-color: #030303;
  }

  

  img {
    padding: 0;
    margin: 0;
    max-width: 400px;
  }

  .posts {
    display: flex;
    justify-content: center;
  }

  .newpost {
    max-width: 400px;
    background: #ffffff;
    border: 1px solid;
    box-shadow: 1px;
    padding: 25px;
  }

.footer {
  margin-top: 11%;
  font-size: 20px;
}